@import "tailwindcss";


/* Progress bar tast toastify */
.Toastify__progress-bar {
  background: #3f51b5 !important; /* colore blu */
}
/* Progress bar Dark Theme*/
.toast-dark .Toastify__progress-bar {
  background: #E0E0E0 !important; /* colore blu */
}
/* Progress bar Light Theme*/
.toast-light .Toastify__progress-bar {
  background: #1f2937 !important; /* colore blu più scuro */
}


/* Marquee Animation for scrolling text "Please enter a valid search term" */
@keyframes marqueeBounce {
  0% {
    transform: translateX(0%);
  }
  50% {
    transform: translateX(-30%);
  }
  100% {
    transform: translateX(0%);
  }
}
